.container-fluid {
  position: relative;
  color: white;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 0 70%;
  filter: brightness(60%);
}

.bottom-left {
  position: absolute;
  bottom: 5%;
  left: 16px;
  color: #3CBEB4;
}

#what-we-do {
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: Bold;
  color: #3CBEB4;
}

.main-box {
  height: fit-content;
  background-color: #3E3E3E;
  display: flex;
  align-items: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.bold-text {
  position: relative;
  /* font-size: 1.25rem; */
  font-weight: Bold;
  color: #3CBEB4;

}

#workshops {
  position: relative;
  /* font-size: 1.25rem; */
  font-weight: Bold;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0;
  color: #ffffff;
}

#filler{
  opacity: 0;
}