.container-row {
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  height: fit-content;
  margin-top: 12px;
  margin-bottom: 12px;
}

#box {
  height: 40px;
  background-color: #3CBEB4;
  display: flex;
  align-items: center;
  height: fit-content;
}

h1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

h5 {
  margin-left: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#block {
  max-width: 50%;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: center;
}

.DAP_image {
  width: 60%;
  height: auto;
  object-fit: cover;
  object-position: 0 70%;
  border-radius: 10px;
  vertical-align: middle;
}

.block-text {
  text-align: center;
  margin-top: 10px;
  color: #3CBEB4;
  font-weight: bold;
}


@media screen and (max-width: 720px) {
  .container-row {
    margin-top: 5%;
    margin-bottom: 5%;

  }

  #block {
    max-width: 90%;
  }

  .DAP_image {
    display: none;
    /* margin-top: 5px;
    margin-bottom: 5px;
    max-width: 90%;
    max-height: 10%;*/
  }
}