h1 {
  text-align: center;
  font-weight: bold;
}

.getinv-para {
  text-align: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.datathon-container-row {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.datathon-custom-container {
  flex: 1;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(170, 170, 170, 0.5);
  background-color: #efefef;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.datathon-card-text {
  text-align: center;
  margin-top: 10px;
  color: #3CBEB4;
  font-weight: bold;
}

#box {
  height: 40px;
  background-color: #3CBEB4;
  display: flex;
  align-items: center;
}

.datathon-images {
  width: 90%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.GetInvImg {
  max-width: 40%;
  max-height: 40vh;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 10px;
  vertical-align: middle;
}

.block-text {
  text-align: center;
  margin-top: 10px;
  color: #3CBEB4;
  font-weight: bold;
}

#datathon-card:hover{
  background-color: rgb(255, 255, 255);
}


#networking-night-row, #bia-night-row{
  justify-content: center;
}

#email{
  color: #3CBEB4;
}

#email:hover{
  color: #979797
}

@media (max-width: 992px) {

  /* Apply the following styles only for screens with a maximum width of 992px (adjust the value as needed) */
  .datathon-container-row {
    flex-direction: column;
    align-items: center;
  }

  .GetInvImg {
    display: none;
    /* margin-top: 8px;
        margin-bottom: 8px; */
  }
}