.image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 0 70%;
    filter: brightness(60%);
  }
  
  .container-fluid {
    position: relative;
    color: white;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 5%;
    left: 16px;
    color: #3CBEB4;
  }
  
  #main-box {
    height: 40px;
    background-color: #3E3E3E;
    display: flex;
    align-items: center;
  }
  
  h4 {
    margin: 0;
  }
  
  #SMU {
    color: #3CBEB4;
  }
  
  #vision {
    margin-left: 16px;
  }
  