.partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust the spacing between the two rows */
  
    /* Add any other styling properties as needed */
    padding-bottom: 2rem;
  }
  
  .partner-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    /* padding: 10px; */
    /* gap: 20px;  */
  }

  .partner-row img {
    width: 100px; /* Adjust the width to your desired size */
    height: auto; /* Maintain the aspect ratio */
  }

  
@media screen and (max-width: 720px) {
  .partner-row img{
    width: 15vw;
  }
}
