.signature-bar {
    width: 100%;
    height: 160px;
    position: sticky;
    top: 0px;
    background-color: rgba(62, 62, 62);
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 1%;
    display: flex;
    justify-content: space-between; /* Aligns elements horizontally */
  }

  .logo-image {
    height: 80px;
    width: auto; /* Adjust the width automatically based on the height */
    object-fit: contain;
    opacity: 100%;
  }
  
  .social-links {
    display: flex;
  }
  
  .social-links a {
    margin-right: 10px; /* Add some spacing between social icons */
  }
  
  .bar-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bar-item {
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color:#3CBEB4; /* Neon green underline color */
    margin: 0;
    padding: 0;
  }

  .bar-items-comps {
    overflow-wrap: break-word;
    text-align: left;
    color: #ffffff;
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  
  .logo-container {
    margin-bottom: 10px; /* Add margin to create spacing between logo and links */
  }