.signature-bar {
  width: 100%;
  height: auto;
  position: sticky;
  top: 0px;
  background-color: rgba(62, 62, 62);
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 1%;
  display: flex;
  justify-content: space-between; /* Aligns elements horizontally */

  overflow: hidden;
}

.logo-image {
  height: 40px;
  width: auto; /* Adjust the width automatically based on the height */
  object-fit: contain;
  opacity: 100%;
}

.social-links {
  display: flex;
  margin-right: auto;
}

.flush-left {
  display: flex;
  align-items: left;
}

.social-links a {
  margin-right: 10px; /* Add some spacing between social icons */
}

.bar-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.bar-item {
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #3CBEB4; /* Neon green underline color */
  margin: 0;
  padding: 0;
}

.bar-items-comps {
  overflow-wrap: break-word;
  text-align: left;
  color: #ffffff;
  font-size: 11px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.logo-container {
  margin-bottom: 10px; /* Add margin to create spacing between logo and links */
  margin-right: 15px;
}

/* Add a media query for smaller screens */
@media (max-width: 890px) {
  .signature-bar {
    height: auto; 
    flex-direction: column; 
    align-items: center;
    padding-bottom: 10px; 
  }

  .bar-items {
    width: 100%; 
    padding: 5px;
  }

  .logo-container,
  .social-links {
    width: 100%; /* Make the logo and social links containers span full width */
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  .bar-items-comps {
    text-align: center; /* Center the text in the bar items */
  }
}



/* if they prefer 2 column then this

@media (max-width: 768px) {
  .signature-bar {
    height: auto;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 10px; 
  }

  .bar-items {
    width: 50%; 
    padding: 5px;
  }

 */
